# Prusa MK3s Klipper macros
#
# NOTE: PAUSE / RESUME / CANCEL_PRINT / _TOOLHEAD_PARK_PAUSE_CANCEL
# are provided by mainsail-config (mainsail.cfg) and are intentionally
# NOT overridden here.

######################################################################
## Mainsail client variables (used by the mainsail-config macros)
######################################################################
[gcode_macro _CLIENT_VARIABLE]
description: Mainsail pause/resume/cancel tuning
variable_use_custom_pos: False
variable_custom_park_x: 0.0
variable_custom_park_y: 0.0
variable_custom_park_dz: 2.0
variable_retract: 1.0
variable_cancel_retract: 5.0
variable_speed_retract: 35.0
variable_unretract: 1.0
variable_speed_unretract: 35.0
variable_speed_hop: 15.0
variable_speed_move: 100.0
variable_park_at_cancel: False
variable_park_at_cancel_x: None
variable_park_at_cancel_y: None
variable_use_fw_retract: False
variable_idle_timeout: 0
variable_runout_sensor: "filament_switch_sensor fsensor"
variable_user_pause_macro: ""
variable_user_resume_macro: ""
variable_user_cancel_macro: ""
gcode:

######################################################################
## Object exclusion (M486 / EXCLUDE_OBJECT)
######################################################################
[exclude_object]

[gcode_macro M486]
description: Marlin/RRF object cancellation support
gcode:
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn't an object and shouldn't be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped

  {% if 'exclude_object' not in printer %}
    {action_raise_error("[exclude_object] is not enabled")}
  {% endif %}

  {% if 'T' in params %}
    EXCLUDE_OBJECT RESET=1

    {% for i in range(params.T | int) %}
      EXCLUDE_OBJECT_DEFINE NAME={i}
    {% endfor %}
  {% endif %}

  {% if 'C' in params %}
    EXCLUDE_OBJECT CURRENT=1
  {% endif %}

  {% if 'P' in params %}
    EXCLUDE_OBJECT NAME={params.P}
  {% endif %}

  {% if 'S' in params %}
    {% if params.S == '-1' %}
      {% if printer.exclude_object.current_object %}
        EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
      {% endif %}
    {% else %}
      EXCLUDE_OBJECT_START NAME={params.S}
    {% endif %}
  {% endif %}

  {% if 'U' in params %}
    EXCLUDE_OBJECT RESET=1 NAME={params.U}
  {% endif %}

######################################################################
## Print start / end
######################################################################
[gcode_macro PRINT_START]
description: Start print, load the saved bed mesh profile
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(215)|float %}
    {% set SOAK = params.SOAK|default(0)|int %}
    M117 Heating...
    M140 S{BED_TEMP}
    M104 S{(EXTRUDER_TEMP * 0.7)|round|int}
    G90
    M190 S{BED_TEMP}
    {% if SOAK > 0 %}
    G4 P{SOAK * 1000}
    {% endif %}
    G28
    BED_MESH_PROFILE LOAD=default
    M109 S{EXTRUDER_TEMP}
    M117 Priming...
    G92 E0
    G1 Z0.2 F720
    G1 Y-3 F1000
    G92 E0
    G1 X60 E9 F1000
    G1 X100 E12.5 F1000
    G92 E0
    M117

[gcode_macro PRINT_END]
description: End print, park and power down
gcode:
    M400
    G91
    G1 E-2 F2700
    G1 Z10 F720
    G90
    _TOOLHEAD_PARK_PAUSE_CANCEL
    TURN_OFF_HEATERS
    M106 S0
    BED_MESH_CLEAR
    M84 X Y E
    M117 Print complete

######################################################################
## Filament change
######################################################################
[gcode_macro M600]
description: Filament change
gcode:
    PAUSE
    G91
    G1 E-50 F1000
    M117 Change filament, then run SWAP_RESUME

[gcode_macro SWAP_RESUME]
description: Resume after a filament change
gcode:
    {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E50 F300
    G90
    {% endif %}
    RESUME

[gcode_macro UNLOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=unload_state
  G91
  {% if params.TEMP is defined or printer.extruder.can_extrude|lower == 'false' %}
    M117 Heating...
    # Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
    M109 S{params.TEMP|default(220, true)}
  {% endif %}
  M117 Unloading filament...
  G92 E0.0
  G91
  G1 E-45 F5000
  G1 E-15 F1000
  G1 E-20 F1000
  G90
  G92 E0.0
  M400
  M117 Remove Filament Now!
  M300 S300 P1000
  M117 Filament unloaded!
  RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro LOAD_FILAMENT]
gcode:
  SAVE_GCODE_STATE NAME=load_state
  G91
  # Heat up hotend to provided temp or 220 as default as that should work OK with most filaments.
  {% if params.TEMP is defined or printer.extruder.can_extrude|lower == 'false' %}
  M117 Heating...
  M109 S{params.TEMP|default(220, true)}
  {% endif %}
  M117 Loading filament...
  # Load the filament into the hotend area.
  G92 E0.0
  G91
  G1 E70 F400
  G1 E40 F100
  G90
  G92 E0.0
  M400
  M117 Filament loaded!
  RESTORE_GCODE_STATE NAME=load_state

######################################################################
## Bed leveling helpers
######################################################################
[gcode_macro G80]
description: Run a full bed mesh calibration
gcode:
    M117 Bed leveling
    G28
    BED_MESH_CALIBRATE
    G1 X0 Y0 Z0.4 F4000
    M117
    M400

[gcode_macro G81]
description: Report the current bed mesh
gcode:
 BED_MESH_OUTPUT

######################################################################
## Misc
######################################################################
[gcode_macro M300]
gcode:
    # Use a default 1kHz tone if S is omitted.
    {% set S = params.S|default(1000)|int %}
    # Use a 10ms duration is P is omitted.
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=BEEPER_pin VALUE=0

[delayed_gcode clear_display]
initial_duration: 0.
gcode:
  M117

# Prusa's calibrate Z
[gcode_macro Calibrate_Z]
description: Calibrate Z axis
gcode:
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% if printer.toolhead.homed_axes != "xyz" %}
      G28
    {% endif %}
    G1 X20 Y0
    G1 Z{max_z-10} F2000 #Update with Z height.
    FORCE_MOVE STEPPER=stepper_z Distance=20 Velocity=10
    G1 Z{max_z-50} F2000 # Move down
    G28 # Home again

[gcode_macro PREHEAT_PLA]
gcode:
    # Start bed heating
    M140 S60
    # Start nozzle heating
    M104 S200

[gcode_macro PREHEAT_PETG]
gcode:
    # Start bed heating
    M140 S90
    # Start nozzle heating
    M104 S240

[gcode_macro PREHEAT_TPU]
gcode:
    # Start bed heating
    M140 S50
    # Start nozzle heating
    M104 S190
